In [1]:
import pandas as pd
import numpy as np

# 1.series（一维）
## 1.1series的创建

In [2]:
np.arange(9)

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [3]:
pd.Series(np.arange(9),index=[8,7,6,5,4,3,2,1,0])

8    0
7    1
6    2
5    3
4    4
3    5
2    6
1    7
0    8
dtype: int64

In [4]:
pd.Series([1.2,2.3,4.5,5.0],index=[1,2,3,4])

1    1.2
2    2.3
3    4.5
4    5.0
dtype: float64

In [5]:
color_count=pd.Series({'red':10,'green':20,'bule':100})
color_count

red       10
green     20
bule     100
dtype: int64

## 1.2 series属性

In [6]:
color_count.index

Index(['red', 'green', 'bule'], dtype='object')

In [7]:
color_count.values

array([ 10,  20, 100])

In [8]:
color_count['red']

10

# 2 dataframe（二维）
## 2.1 dataframe创建

In [9]:
pd.DataFrame(np.random.randn(2,3))#randn表示从标准正态中取数字

          0         1         2
0 -0.109588 -0.326362  1.550445
1  0.433956 -0.675716  0.849308

In [10]:
score = np.random.randint(40,100,[10,5])
score

array([[45, 64, 71, 62, 68],
       [44, 61, 93, 45, 59],
       [41, 61, 64, 48, 78],
       [51, 48, 94, 91, 61],
       [54, 67, 87, 62, 95],
       [66, 66, 62, 67, 69],
       [85, 64, 45, 51, 42],
       [82, 73, 92, 94, 59],
       [72, 81, 44, 82, 45],
       [67, 64, 92, 57, 51]])

In [11]:
score_df = pd.DataFrame(score)
score_df

    0   1   2   3   4
0  45  64  71  62  68
1  44  61  93  45  59
2  41  61  64  48  78
3  51  48  94  91  61
4  54  67  87  62  95
5  66  66  62  67  69
6  85  64  45  51  42
7  82  73  92  94  59
8  72  81  44  82  45
9  67  64  92  57  51

In [12]:
score_df.shape

(10, 5)

In [13]:
subjects = ['语文','数学','英语','政治','体育']
stu = ['同学{}'.format(i) for i in range(score_df.shape[0])]#注意for i in range的灵活使用方法

In [14]:
stu

['同学0', '同学1', '同学2', '同学3', '同学4', '同学5', '同学6', '同学7', '同学8', '同学9']

In [ ]:
data = pd.DataFrame(score,columns = subjects,index = stu)#增加目录

In [16]:
data

     语文  数学  英语  政治  体育
同学0  45  64  71  62  68
同学1  44  61  93  45  59
同学2  41  61  64  48  78
同学3  51  48  94  91  61
同学4  54  67  87  62  95
同学5  66  66  62  67  69
同学6  85  64  45  51  42
同学7  82  73  92  94  59
同学8  72  81  44  82  45
同学9  67  64  92  57  51

## 2.2 dataframe属性

In [17]:
data.shape

(10, 5)

In [18]:
data.index

Index(['同学0', '同学1', '同学2', '同学3', '同学4', '同学5', '同学6', '同学7', '同学8', '同学9'], dtype='object')

In [19]:
data.columns

Index(['语文', '数学', '英语', '政治', '体育'], dtype='object')

In [20]:
data.values

array([[45, 64, 71, 62, 68],
       [44, 61, 93, 45, 59],
       [41, 61, 64, 48, 78],
       [51, 48, 94, 91, 61],
       [54, 67, 87, 62, 95],
       [66, 66, 62, 67, 69],
       [85, 64, 45, 51, 42],
       [82, 73, 92, 94, 59],
       [72, 81, 44, 82, 45],
       [67, 64, 92, 57, 51]])

In [21]:
data.T

    同学0  同学1  同学2  同学3  同学4  同学5  同学6  同学7  同学8  同学9
语文   45   44   41   51   54   66   85   82   72   67
数学   64   61   61   48   67   66   64   73   81   64
英语   71   93   64   94   87   62   45   92   44   92
政治   62   45   48   91   62   67   51   94   82   57
体育   68   59   78   61   95   69   42   59   45   51

In [22]:
data.head(5)#获取前5行数据

     语文  数学  英语  政治  体育
同学0  45  64  71  62  68
同学1  44  61  93  45  59
同学2  41  61  64  48  78
同学3  51  48  94  91  61
同学4  54  67  87  62  95

In [23]:
data.tail(5)#获取后5行数据

     语文  数学  英语  政治  体育
同学5  66  66  62  67  69
同学6  85  64  45  51  42
同学7  82  73  92  94  59
同学8  72  81  44  82  45
同学9  67  64  92  57  51

## 2.3 索引值的设置

In [24]:
stu = ['同学_{}'.format(i) for i in range(score_df.shape[0])]#不能用index【3】这种方式单独修改，只能总体修改

In [25]:
data.index = stu

In [26]:
data

      语文  数学  英语  政治  体育
同学_0  45  64  71  62  68
同学_1  44  61  93  45  59
同学_2  41  61  64  48  78
同学_3  51  48  94  91  61
同学_4  54  67  87  62  95
同学_5  66  66  62  67  69
同学_6  85  64  45  51  42
同学_7  82  73  92  94  59
同学_8  72  81  44  82  45
同学_9  67  64  92  57  51

In [27]:
data.index[2] = '同学_3'#不能这样单独修改

TypeError: Index does not support mutable operations

In [28]:
new = data.reset_index()#不删除之前的索引
new_shape = data.reset_index().shape
print(new,'\n',new_shape)

  index  语文  数学  英语  政治  体育
0  同学_0  45  64  71  62  68
1  同学_1  44  61  93  45  59
2  同学_2  41  61  64  48  78
3  同学_3  51  48  94  91  61
4  同学_4  54  67  87  62  95
5  同学_5  66  66  62  67  69
6  同学_6  85  64  45  51  42
7  同学_7  82  73  92  94  59
8  同学_8  72  81  44  82  45
9  同学_9  67  64  92  57  51
 (10, 6)

In [29]:
data.reset_index(drop=True)#删除之前的索引

   语文  数学  英语  政治  体育
0  45  64  71  62  68
1  44  61  93  45  59
2  41  61  64  48  78
3  51  48  94  91  61
4  54  67  87  62  95
5  66  66  62  67  69
6  85  64  45  51  42
7  82  73  92  94  59
8  72  81  44  82  45
9  67  64  92  57  51

In [30]:
df = pd.DataFrame({'month':[1,4,7,10],'year':[2012,2014,2013,2014],'sale':[55,40,84,31]})

In [31]:
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [37]:
df.set_index('year')

In [33]:
df.set_index('year').shape

(4, 2)

In [34]:
df.set_index(['year','month'])#具有multilndex的DataFrame

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [43]:
df = df.set_index(['year','month'])

# 3 MulitIndex与Panel
## 3.1 MultiIndex

In [44]:
df

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [45]:
df.index

MultiIndex([(2012,  1),
            (2014,  4),
            (2013,  7),
            (2014, 10)],
           names=['year', 'month'])

In [46]:
df.index.names#双索引

FrozenList(['year', 'month'])

In [47]:
df.index.levels

FrozenList([[2012, 2013, 2014], [1, 4, 7, 10]])

In [50]:
arrays = [[1,2,1,2],['r','y','r','b']]
pd.MultiIndex.from_arrays(arrays,names=('num','col'))

MultiIndex([(1, 'r'),
            (2, 'y'),
            (1, 'r'),
            (2, 'b')],
           names=['num', 'col'])