In [1]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Input
from sklearn.model_selection import train_test_split

In [6]:
df = pd.DataFrame({'categorical': ['d','e','f'],
                   'numeric': [1, 2, 3],
                   'object': ['a', 'b', 'c']
                  })
df

  categorical  numeric object
0           d        1      a
1           e        2      b
2           f        3      c

# pandas.DataFrame.describe()
显示所有的统计值

In [7]:
df.describe()

       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

# pandas.DataFrame.pop()
用于删除指定列

In [8]:
df.pop('categorical')

0    d
1    e
2    f
Name: categorical, dtype: object

In [9]:
df

   numeric object
0        1      a
1        2      b
2        3      c